@model Saad.Lib.Data.Model.AnalysisRequestLitigation

@using (Html.BeginForm("AddLitigationData", "AnalysisRequest", new { requestId = Model.Request.Id },  FormMethod.Post, new { @class = "form-horizontal", encType = "multipart/form-data" })) {
    @Html.AntiForgeryToken();
    
    <div class="form-group">
        @Html.LabelFor(m => m.InitialContractValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.InitialContractValue, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContractSum, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ContractSum, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Result, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Result, new { @class = "form-control mask-money", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContractAdvanceValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ContractAdvanceValue, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContractAdditionsValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ContractAdditionsValue, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContractTotal, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ContractTotal, new { @class = "form-control mask-money", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContractSuppliedValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ContractSuppliedValue, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContractBlockedValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ContractBlockedValue, new { @class = "form-control mask-money", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BondValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.BondValue, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Orders, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Orders, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContractEmployeesPayment, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ContractEmployeesPayment, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TaxesPaymentValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.TaxesPaymentValue, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SuppliersPaymentValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.SuppliersPaymentValue, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.HiringValue, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.HiringValue, new { @class = "form-control mask-money" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReplacementTotal, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ReplacementTotal, new { @class = "form-control mask-money", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Balance, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.Balance, new { @class = "form-control mask-money", @disabled = "disabled" })
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <h4>Informações Jurídicas</h4>

    <div class="form-group">
        @Html.LabelFor(m => m.ProcessCode, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.ProcessCode, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.JudgmentPlace, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.JudgmentPlace, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.JudicialDistrict, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.JudicialDistrict, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PendenciesBlockingIngress, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.PendenciesBlockingIngress, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProgressDate, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.ProgressDate, new { @class = "form-control date" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProgressDescription, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.ProgressDescription, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ActionPlan, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.ActionPlan, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ResponsibleLawyerOffice, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.ResponsibleLawyerOffice, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.JudicialPhase, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.DropDownListFor(m => m.JudicialPhase, @Html.GetJudicialPhases(), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group m-t-lg">
        @Html.LabelFor(m => m.LitigationType, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.DropDownListFor(m => m.LitigationType, @Html.GetLitigationTypes(), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group m-t-lg">
        @Html.LabelFor(m => m.SucceesProbability, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.DropDownListFor(m => m.SucceesProbability, @Html.GetSuccessProbabilityTypes(), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary pull-right m-l" type="submit">Salvar</button>
        </div>
    </div>

}